
<p id="notice" class="alert alert-warning"> 
Esta tabla solo muestra las reservas pendientes a partir de hoy
</p>

<table class="table table-hover d-block m-0">
  <thead class="table-dark ">
    <tr>
      <th>Fecha de entrada</th>
      <th>Fecha de salida</th>
      <th>Tipo de habitacion</th>
      <th>Habitación</th>
      <th>Usuario</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody class="">
<% Booking.each do |book| %>

<%
 next if Date.today > Date.parse( book[:dateRange].split(/ to /)[1] )

 @estilo = Style.find_by( _id: book[:style_id] )
 @habitacion = Room.find_by( _id: book[:room_id] )
 @usuario = User.find_by( _id: book[:user_id] )
%>
  <!---------------- Por cada Reserva ===============----->
<tr class="text-center align-middle">

	<td><%= book[:dateRange].split(/ to /)[0] %></td>
	<td><%= book[:dateRange].split(/ to /)[1] %></td>

	<td><%= link_to @estilo.desc.capitalize, 
		style_path( @estilo ), 
		class: "text-decoration-none"  
	%></td>

	<td><%= link_to @habitacion.num, 
		room_path( @habitacion ),
		class: "text-decoration-none"  
	%></td>

	<td><%= link_to @usuario.name.capitalize, 
		user_path( @usuario ),
		class: "text-decoration-none"  
	%></td>

	<td>
		<div class="d-flex">
			<%= link_to 'Edit', edit_booking_path(book), class: "editButton" %>
			<%= link_to 'Cancelar', book, method: :delete, data: { confirm: 'Estas seguro de cancelar esta reserva?' }, class: "editButton" %> 
		</div>
	</td>

</tr>
       
<% end %>

  </tbody>
</table>

