<div class="bg-white pb-5 mb-5 mx-auto rounded-bottom shadow" style="max-width: 500px">

<h1>Reservas</h1>

<p id="notice"><%= notice %></p>



  <% @bookings.where(user_id: session[:user_id]).each do |booking| %>


  <% end %>
  <%= link_to 'New Booking', new_booking_path %>


 <p> Debe estar registrado para reservar una habitación </p>

 <%= link_to "Log in", login_path %>
 <%= link_to "Registro", registro_path %>






<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Room</th>
      <th>Datein</th>
      <th>Dateout</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.user_id %></td>
        <td><%= booking.room_id %></td>
        <td><%= booking.dateIn %></td>
        <td><%= booking.dateOut %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_path %>



</div>
