<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
      Hay <%= pluralize(style.errors.count, "error") %>:

      <ul>
        <% style.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <label class="d-block pe-4 ">Rol:</label>
    <%= form.select :role_id, Role.all.collect { |s| [ s.role, s._id ] }, class: "form-control"  %>

  <div class="actions">
    <%= form.submit "Aceptar", class: "my-2 btn btn-primary" %>
  </div>


<% end %>