
<div class="bg-white mx-auto pb-2 rounded-bottom shadow"
   style="max-width: 500px;"
>


  <div class="">
      <h1 class=''>
        <%= @user.name.capitalize %>
      </h1>

    <% if !notice.nil? %>
    <p id="notice" class="alert alert-warning"><%= notice %></p>
    <% end %>

    <div class="px-2">
      <p class=''>
        Email: <%= @user.email %>
      </p>

      <p class=''>
        Rol: <%= Role.find_by(_id: @user.roles_id).role %>
      </p>

      <%= 
        if session[:user_id] == @user._id.to_s
          link_to "cambiar Contraseña", edit_password_path, class: "btn btn-primary"  
        end
      %>

      <% if session[:role] == 'admin' && session[:user_id] != @user._id.to_s %>

        <div class="my-3">
          <%= link_to 'Destroy', @user,
            method: :delete, data: { confirm: 'Are you sure?' },
            class: "editButton" %>

          <%= link_to 'Convertir Recepcionista', 
            make_reception_path(id: @user), 
            class: "editButton", 
            method: :patch, data: { 
              confirm: 'Seguro que quieres convertir este usuario en recepcionista?' } %>

          <%= link_to 'Convertir en Admin', 
            make_admin_path(id: @user), 
            class: "editButton", 
            method: :patch, data: { 
              confirm: 'Seguro que quieres convertir este usuario en administrador?' }  %>
        </div>

        <div class="my-3">
          <%= link_to 'Back', users_path, class: "editButton" %>
        </div>

      <% end %>
      
    </div>

  </div>
</div>
