

<%= form_with(model: style) do |form|%>
  <% if style.errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
      Hay <%= pluralize(style.errors.count, "error") %>:

      <ul>
        <% style.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.label :desc %>
    <%= form.text_field :desc , class: "form-control" %>

    <%= form.label :cap %>
    <%= form.number_field :cap, class: "form-control"  %>

    <%= form.label :price %>
    <%= form.number_field :price, class: "form-control"  %>

  <div class="actions">
    <%= form.submit "Aceptar", class: "my-2 btn btn-primary" %>
  </div>
<% end %>
