<div class="m-auto" style="
    width: fit-content;
">

    <% if Booking.where(user_id: session[:user_id]).count == 0 %>

      <p>No tiene ninguna habitación reservada</p>

      <%= link_to "Reservar habitación", bookings_path, class: "btn btn-primary" %>

    <% else %>

    <div >
      <h2 class="m-2">Sus reservas: </h2>
 
      <div class="d-flex flex-wrap ">
        <% Booking.where(user_id: session[:user_id]).each do |book| %>
          <div class="card m-2 shadow" style="width: 18rem;">

            <%= image_tag 'room_' + Style.find_by( _id: book.style_id ).desc + '.jpg', alt: 'icon' %>

            <div class="card-body">

              <%
                bookIn = DateTime.parse(book[:dateRange].split(/ to /)[0].to_s)
                bookOut = DateTime.parse(book[:dateRange].split(/ to /)[1].to_s)
              %>
              
                <p>Ha reservado una habitación <%= Style.find_by( _id: book.style_id ).desc %> para <%= Style.find_by( _id: book.style_id ).cap %> 
                  persona<%= if Style.find_by( _id: book.style_id ).cap > 1 then 's' end %>
                </p>

                <p>Fecha de la reserva:</p>
                <p>Inicio: <%= book[:dateRange].split(/ to /)[0] %> </p>
                <p>Final: <%= book[:dateRange].split(/ to /)[1] %> </p>
                

              <% if (bookIn...bookOut).include?(Date.today) %>
                <p>Número de habitacion: <%= Room.find_by( _id: book.room_id ).num %> 
                </p>
              </br>
              <% else %>
                <p>El numero de habitación solo se mostrara durante la estancia</p>
              <% end %>

              <%= link_to 'Cancelar Reserva', book, method: :delete, data: { confirm: 'Estas seguro de cancelar esta reserva?' }, class: "editButton" %> 

            </div>
          </div>

        <% end %>
      </div>

    <% end %>
    </div>

</div><!---------------- End of flex div ===============----->