
<%= form_with(model: room) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <label class="d-block pe-4 ">Numero:</label>
    <%= form.number_field :num , class: "form-control"  %>

  </br>

    <label class="d-block pe-4 ">Tipo:</label>
    <%= form.select :style, Style.all.collect { |s| [ s.desc, s._id ] }, class: "form-control"  %>


    <label class="d-block pe-4 mt-2 ">Ocupación:</label>
    <%= form.check_box :ocupation %>
 

  <div class="actions">
    <%= form.submit "Aceptar", class: "my-2 btn btn-primary" %>
  </div>


<% end %>
