
<%= form_with(model: room) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation"  class="alert alert-warning">
      Hay <%= pluralize(style.errors.count, "error") %>:

      <ul>
        <% style.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <label class="d-block pe-4 ">Numero:</label>
    <%= form.number_field :num , class: "form-control"  %>

  </br>

    <label class="d-block pe-4 ">Tipo:</label>
    <%= form.select :style, Style.all.collect { |s| [ s.desc, s._id ] }, class: "form-control"  %> 

  <div class="actions">
    <%= form.submit "Aceptar", class: "my-2 btn btn-primary" %>
  </div>


<% end %>
