
<div class="bg-white pb-5 mb-5 mx-auto rounded-bottom shadow" style="max-width: 500px">
	
<h1>Habitación</h1>

<div class="d-table mx-auto">

<% if !notice.nil? %>
<p id="notice" class="alert alert-warning"><%= notice %></p>
<% end %>

<p>
  <strong>Numero:</strong>
  <%= @room.num %>
</p>

<p>
  <strong>Estilo:</strong>
  <%= Style.find(@room.style).desc %>
</p>

<p>
  <strong>Capacidad:</strong>
  <%= Style.find(@room.style).cap %>
</p>

<p>
  <strong>Precio:</strong>
  <%= Style.find(@room.style).price %>€
</p>


<%= link_to 'Edit', edit_room_path(@room), class: "btn btn-secondary" %> |
<%= link_to 'Back', rooms_path, class: "btn btn-secondary" %>

</div>

</div>