<%= form_with(model: role) do |form| %>
  <% if role.errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
      Hay <%= pluralize(style.errors.count, "error") %>:

      <ul>
        <% style.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.label :role %>
    <%= form.text_field :role %>

  <div class="actions">
    <%= form.submit "Aceptar", class: "btn btn-primary my-2 " %>
  </div>
<% end %>
